<!DOCTYPE html>
<html>
<head>
  <title>Orthnac</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <a href="#" class="brand-logo"><%= @title %></a>
    <ul id="slide-out" class="side-nav fixed">
      <li><a href="#!">First Sidebar Link</a></li>
      <li><a href="#!">Second Sidebar Link</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </nav>

  <!-- Page Layout here -->
  <main>
    <div class="row">
      <div class="col s9">
        <div class="content">
          <%= yield %>
        </div>
      </div>
    </div>
  </main>

</body>

<script language="javascript">
  $(".button-collapse").sideNav();
</script>
</html>
