<!DOCTYPE html>
<html>
<head>
  <title>Orthnac</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navigation' %>

  <main>
    <div class="container">
      <% if flash[:message] %>
        <div id="flash_message" class="flash"><%= flash[:message] %></div>
      <% end %>
      <% if flash[:warning] %>
        <div id="flash_warning" class="flash"><%= flash[:warning] %></div>
      <% end %>

      <%= yield %>
    </div>
  </main>
  <script language="javascript">
    var application = new Vue({
      el: '.container',
      data: {
      }
    })

    <%= yield :deferred_javascript -%>

    app.Page.AllPages();

    $(".button-collapse").sideNav();

    $( document ).ready(function() {
      $(".dropdown-button").dropdown();
    });

  </script>
</body>
</html>
